.navbarcontainer {
    height: 56px;
    background: var(---amazon-orange);
    width: 100%;
    position: sticky;
    z-index: 22;
    color: white;
    top: 0;
    left: 0;
}

.logo {
    /* background-color: black; */
    width: 100px;
}

.navbar {
    /* background-color: aqua; */
    max-width: 1244px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 124px;
}

.navbarsearch {
    display: flex;
    justify-content: space-between;
    max-width: 344px;
    width: 100%;
}

.navbarsrechbox {
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.searchbtn {
    height: 36px;
    width: 44px;
    border: none;
    color: var(---amazon-orange);
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
}

.loginbtn {
    padding: 7px 12px;
    background-color: white;
    color: var(---amazon-orange);
    font-weight: 700;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.navbarseller {
    font-size: 13px;
    cursor: pointer;
}

.serachmore {
    font-size: 13px;
    cursor: pointer;
    position: relative;
}

.moredown {
    position: absolute;
    top: 10px;
    padding: 0 2px;
}

.navbarcart {
    /* background-color: black; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart {
    font-size: 15px;
    padding: 0 5px;
    color: white;
}